footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
    padding: 2rem;
}

.container.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76vw;
}

footer img {
    width: 3vw;
}

footer ul {
    display: flex;
    gap: 0.8rem;
}

.footer__list {
    margin-left: 2rem;
}

footer a {
    color: white;
}

footer a:hover {
    color: var(--color-bg-variant);
}

/*======= MEDIA QUERIES (MED) =======*/

@media screen and (max-width: 1024px) {
    footer img {
        width: 3rem;
    }

    footer ul {
        font-size: 1rem;
    }
}

/*======= MEDIA QUERIES (SM) =======*/

@media screen and (max-width: 600px) {
    footer img {
        width: 2rem;
    }

    footer ul {
        font-size: 0.85rem;
    }
}