nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7vw;
    padding: 1.6vw 0.6vw;
    z-index: 2;
    position: fixed;
    top: 35%;
    right: 9.5vw;
    border-radius: 3rem;
}

nav a {
    background: transparent;
    padding: 0.7vw;
    border-radius: 50%;
    display: flex;
    font-size: 1rem;
}

nav .active {
    background: var(--color-bg);
    color: var(--color-white);
}

/* ============ SOCIALS ============ */

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: fixed;
    left: 12vw;
    top: 39%;
}

.socials::before {
    content: '';
    width: 1px;
    height: 1.5rem;
    background: var(--color-primary);
}

.socials::after {
    content: '';
    width: 1px;
    height: 3rem;
    background: var(--color-primary);
}

/*======= MEDIA QUERIES (MED) =======*/

@media screen and (max-width: 1024px) {
    nav {
        right: 7vw;
        gap: 1.2vw;
        top: 40%;
    }

    .socials {
        left: 7vw;
        top: 41%;
    }
}

/*======= MEDIA QUERIES (SM) =======*/

@media screen and (max-width: 600px) {
    .socials {
        display: none;
    }

    nav {
        display: none;
    }
}